/* 全局樣式 */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    /* 字型 */
    font-family: 'Times New Roman', serif;
}
p {
 /* 字型 */
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
body {
        background-color: white; /* 初始背景色 */
        transition: background-color 0.3s ease; /* 背景色變化動畫效果 */
    }
/* 標頭樣式 */
header {
    background-color: #f0f0f0;
    padding: 20px;
}

/* 導航樣式 */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* 主內容樣式 */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

/* 工作網格樣式 */
.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.work-item {
    text-align: center;
}

/* 關於我 */
.about-me {
background-color: #DFDFDF;
width: auto;
height: 84px;
}
.about-me-dc, .about-me-line, .about-me-a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.about-me-dc {
    background-image: linear-gradient(to right, #0015FF, #818BFF, #3C4CFF, #818BFF, #0015FF);
    background-color: #00299A;
    color: #FFFFFF;
}

.about-me-line {
    background-image: linear-gradient(to right, #00FF22, #6EFF32, #00FF22, #6EFF82, #00FF22);
    background-color: #009A15;
    color: #000000;
}
.about-me-dc:hover,.about-me-line:hover,.about-me-a {
    color: #42445A; /* 按钮悬停时的文字颜色 */
}

.img-h1 {
    width: 32px; /* 圖標寬度 */
    height: 32px; /* 圖標高度 */
    vertical-align: middle; /* 垂直對齊 */
    margin-right: 8px; /* 圖標和文字間距 */
 
}

.button {
 color: black;
    background-color: #DFDFDF;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
/* 圖片 */
.img- {
 width: 150px;
  left: 50%;
 translate: translate(0%,-50%);
 border-radius: 10px;
}
/*
這後面都是註解
widtw 寬
height高
 px   固定
 %    百分百
 auto 自動
 
 置中
 top: 25%;  上下
 left: 50%; 左右
 translate: translate(-50%,-50%);